.main__location{
    margin-top:27px;
}

.main__information{
    margin-top:24px;
}


@media(min-width:$tablet-width){
    .main__location{
        margin-top:35px !important;
    }

    .main__information{
        margin-top:38px;
    }
}

